#centerPane{
	float: left;
	width: 612px;
	min-height: 400px;
	border-left: solid white 1pt;
	border-right: solid white 1pt;
	background: black url('/aerobunny/images/center2.jpg') no-repeat top center;
}
