#topNav {
  width: 100%;
	float: left;
	background: url("/images/elements/doubleLineBorder.png") center left repeat-x;
	text-align: center;
}

#align {
	width: 50%; 
	margin: auto;
}

#topNav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	width: 720px;
}

#topNav ul li {
	float: left;
}

#topNav ul a {
	display: block;
	padding: 0 2em;
	width: 100px;
	line-height: 18px;
	background: url("/images/elements/button_01.png") top left repeat-x;
	text-align: center;
	text-decoration: none;
	color: #FFF;
	border: solid white 1px;
	border-spacing: 0;
}

#topNav ul a:hover{
	color: #e1c900;
}



#topNav li {
	position: relative;
}

#topNav ul ul {
	position: absolute;
	top: 100%;
	width: 100%;
	display: none;
}

#topNav li:hover ul {
	display: block;
}

#topNav ul ul a {
	background: url("/images/elements/blackTransBack75.png");
	border: 0;
}